
<br>
<div class="container">
  <div class="card">
    <div class="card-header">
      <h2>{{nome}}</h2>
    </div>
    <div class="card-body">
      <!-- <form> -->
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="nome" class="font-weight-bold">Nome</label>
            <input type="text" class="form-control" id="nome" [(ngModel)]="nome">
          </div>
          <div class="form-group col-md-1">
            <label for="idadeMin" class="font-weight-bold">Idade</label>
            <input type="number" class="form-control" id="idadeMin" [(ngModel)]="idade">
          </div>
          <div class="col-sm-2 form-check form-check-inline">
            <div class="form-check form-check-inline" id="anosRadio">
              <input class="form-check-input" type="radio" name="exampleRadios" id="anos" value="anos" #anos [(ngModel)]="idade_opt" checked>
              <label class="form-check-label" for="anos">anos</label>
            </div>
            <div class="form-check form-check-inline" id="mesesRadio">
              <input class="form-check-input" type="radio" name="exampleRadios" id="meses" value="meses" [(ngModel)]="idade_opt" #meses>
              <label class="form-check-label" for="anos">meses</label>
            </div>
          </div>
          <div class="form-group col-md-2">
            <label for="tipo" class="font-weight-bold">Tipo</label>
            <select id="tipo" class="form-control" [(ngModel)]="tipo">
              <option selected>Inalação</option>
              <option>Difusão</option>
              <option>Atópico</option>
            </select>
          </div>
          <div class="form-group col-md-12">
            <label for="funcao" class="font-weight-bold">Funções</label>
            <!-- <input type="text" class="form-control" id="funcao" [(ngModel)]="funcao"> -->
            <div class="row">
              <div class="col-sm-9">
                <div class="btn-group-toggle" data-toggle="buttons">
                  <label *ngFor="let funcao of funcoes;let i = index;" class="btn btn-outline-secondary btn-sm margin-t-l-5px" [ngClass]="{'active' : funcao.check }">
                    <input type="checkbox" value="{{funcao.funcao}}" (change)="setFuncao($event)" id="funcao{{i}}">{{funcao.funcao}}
                  </label>
                </div>
              </div>
              <div class="col-sm-2">
                <input type="text" *ngIf="newFuncao" class="form-control float-right" id="funcao" [(ngModel)]="funcao" (keyup.enter)="newFuncaoClick(funcao,newFuncao)">
              </div>
              <div class="col-sm-1 justify-content-end">
                <button class="btn btn-outline-success btn-sm" style="margin-top: 3px;" type="button" (click)="newFuncaoClick(funcao,newFuncao)">+</button>
              </div>
            </div>
          </div>
          <div class="form-group col-md-12">
            <label for="descricao" class="font-weight-bold">Receita</label>
            <textarea class="form-control" id="descricao" rows="3" [(ngModel)]="receitaDesc"></textarea>
          </div>
          <div class="form-group col-md-12">
            <label for="aplicacao" class="font-weight-bold">Aplicação</label>
            <textarea class="form-control" id="aplicacao" rows="3" [(ngModel)]="aplicacao"></textarea>
          </div>
          <div class="form-group col-md-12">
            <label for="observacoes" class="font-weight-bold">Observações</label>
            <textarea class="form-control" id="observacoes" rows="1" [(ngModel)]="observacoes"></textarea>
          </div>
        </div>
        <div class="row">
          <div class="col-md-auto">
            <button type="button" class="btn btn-outline-success" id="openModalEdit" #openModalEdit data-toggle="modal" data-target="#edit-modal">Guardar</button>
            <button type="button" class="btn btn-outline-danger margin-l-5px">Cancelar</button>
            <button type="button" type="button" class="btn btn-outline-secondary margin-l-5px" (click)="fecharEditReceita()">Voltar</button>
          </div>
        </div>
      <!-- </form> id="openModalSave" #openModalSave data-toggle="modal" data-target="#save-modal"  -->
    </div>
  </div>
</div>
<!--Delete Modal TODO - separate component -->
<div class="modal" id="edit-modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Atenção!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Deseja guardar as suas alterações?</p>
          <div class="modal-footer">
            <button type="button" class="btn btn-success" (click)="editReceita()">Sim</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Não</button>
          </div>
      </div>
    </div>
  </div>
</div>
