<br>
<div class="container">
  <div class="card">
    <div class="card-header">
      <h2>{{nome}}</h2>
    </div>
    <div class="card-body">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="nome" class="font-weight-bold">Nome</label>
              <p>{{nome}}</p>
          </div>
          <div class="form-group col-md-2">
            <label for="idadeMin" class="font-weight-bold">Idade</label>
            <p>{{idade}} {{idade_opt}}</p>
          </div>
          <div class="form-group col-md-2">
            <label for="tipo" class="font-weight-bold">Tipo</label>
            <p>{{tipo}}</p>
          </div>
          <div class="form-group col-md-12">
            <label for="funcao" class="font-weight-bold">Funções</label>
            <p>{{funcoes_str}}</p>
          </div>
          <div class="form-group col-md-9">
          </div>
          <div class="form-group col-md-12">
            <label for="receitaDesc" class="font-weight-bold">Receita</label>
            <p>{{receitaDesc}}</p>
          </div>
          <div class="form-group col-md-12">
            <label for="descricao" class="font-weight-bold">Aplicação</label>
            <p>{{aplicacao}}</p>
          </div>
          <div class="form-group col-md-12">
            <label for="observacoes" class="font-weight-bold">Observações</label>
            <p>{{observacoes}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-auto">
            <button type="button" class="btn btn-outline-success" (click)="goToEdit()">Editar</button>
            <button type="button" type="button" class="btn btn-outline-secondary margin-l-5px" (click)="fecharVerReceita()">Voltar</button>
          </div>
        </div>
    </div>
  </div>
</div>
