<br>
<div class="container">
  <h2 [hidden]="receitas && receitas.length">Não tem qualquer receita no seu livro :(</h2>
  <br>
  <button routerLink="/criarReceita" routerLinkActive="active" class="btn btn-primary" type="button">Adicionar</button>
  <!-- <button *ngIf="!hideButton" routerLink="/criarReceita" routerLinkActive="active" class="btn btn-primary" type="button" (click)="hideAddButton()">Adicionar</button> -->
</div>
<br>
<div *ngIf="filtersLoaded | async" class="container">
  <div *ngFor="let receita of receitas;let i = index;">
    <div class="card" style="margin-top: 5px;">
      <div class="card-body">
        <div class="row">
          <div class="col-md-5 align-self-center">
            <h5>
              {{receita.nome}}
            </h5>
          </div>
          <div class="col-md-5 align-self-center">
            <h6>

              {{receita.tipo}}
            </h6>
          </div>
          <div class="col-md-2 float-right">
            <button type="button" routerLink="/receita/{{receita.id}}" routerLinkActive="active" class="btn btn-outline-primary btn-sm">
              <i class="bi bi-eye"></i>
            </button>
            <button type="button" routerLink="/editarReceita/{{receita.id}}" routerLinkActive="active" class="btn btn-outline-success btn-sm margin-l-5px">
              <i class="bi bi-pencil"></i>
            </button>
            <button type="button" id="openModalDelete" #openModalDelete data-toggle="modal" data-target="#delete-modal" class="btn btn-outline-danger btn-sm margin-l-5px" (click)="setIdToDelete(receita.id)">
              <i class="bi bi-trash"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Delete Modal TODO - separate component -->
<div class="modal" id="delete-modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Atenção!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Tem a certeza?</p>
          <div class="modal-footer">
            <button type="button" class="btn btn-success" (click)="apagarReceita()">Sim</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Não</button>
          </div>
      </div>
    </div>
  </div>
</div>