.margin-l-5px{
    margin-left: 5px;
}

.bi-eye::before, .bi-pencil::before, .bi-trash::before{
    margin-bottom: 2px;
}

i { 
    font-size: 18px;
}

.card-body {
    border: 3px solid transparent;
    position: relative;
  }

.card-body:hover {
    background-color: rgb(206, 224, 101);
    border: solid yellowgreen 3px;
  }